@media all and (max-width: 1048px) {
    .me{
        flex-basis: 100%;
        height: 100vh;
    }

    .nav{
        position: fixed;
        width: 250px;
        left: 0px;
        background: linear-gradient(rgb(254 254 254 / 80%), rgba(255, 255, 255, 50.3));
    }

    .nav_list li {
        width: 180px;
    }

    .mobilemenu_bars{
        display: inline-block;
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 20px;
    }
    .mobilemenu_cross{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 25px;
    }

    /* ================================
    Section title edit css
    ==================================*/

    /* ABOUT */
    #about{
        flex-basis: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        background: #f1f1f1;
        align-items: flex-start;
    }

    .personal_information{
        display: flex;
        align-items: center;
    }

    .child_personal{
        flex-basis: 100%;
        margin-bottom: 30px;
    
    }

    .education, .experience{
        flex: 100%;
    }

    .education{
        margin-bottom: 30px;
    }

    /* service section */
    .child_service{
        flex-basis: 100%;
    }

    #service{
        display: block ;
        height: auto;
    }

    .service_box{
        margin-top: 30px;
        text-align: center;
    }

    .service_04, .service_05{
        margin-bottom: 30px;
    }


    /* porfolio section */
    #portfolio{
        flex-basis: 100%;
        height: auto;
    }

    .child_panel{
        flex-basis: 100%;
    }

    /* blog section */
    .child_blog{
        flex-basis: 100%;
    }
}

/* tablet */
